$marfil: rgba(255,250,220,0.5);
body{
  background-color: #ffffff;
}
.titulo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.topnav {
  background-color: #2469D6;
  overflow: hidden;
}
/* Change the color, and the margins to the links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 4%;
  text-decoration: none;
  font-size: 17px;
  margin-top:0.5%;
}

.topnav a:hover {
  background-color: #2469D6;
  color: #ED8B40;
}

/* Modify the home link */
.topnav a.active {
  background-color:#2469D6;
  color: white;
}

.divs{
margin-top: 1%;
border-radius: 20px;
border-color: black;
margin-left: 1%;
margin-right: 1%;
}
.clearfix{
    overflow: hidden;
  }
  #titulo1{
  font-size: 80px;
    margin-top:60px;
  }
.parrafo{
text-align: justify;
font-size: 20px;
}
#parrafo3{
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  #parrafo2{
    margin-left:auto;
    margin-right:0;
  }
  #titulo2{
  text-align: right;
  }
}
@media (max-width: 599px) {
  #parrafo2{

  }
  #titulo2{

  }
}
#estudiantes{
  width: 600px;
  margin-left: 30px;
  border-radius: 8px;
}
